html {
    min-height: 100vh + 8px;
}

body {
    min-height: 100vh;
	width: 800px;
    margin: auto;
    color: #24252d;
    font-family: "CTMKF", "Rubik", monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
	background: linear-gradient(69420deg, #ff521c, #208bff, #26cb4c, #ffb510);
    background-size: 500%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* * { */
    /* font-family: "Rubik"; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* margin: 0; */
    /* padding: 0; */
/* } */

/* body { */
    /* padding: 0.5rem; */
    center
    /* text-align: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
/* } */

p {
    padding: 4px;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}

h1 {
	font-size: 64px;
}

hr {
    color: #24252d;
}


table {
    width: 100%;
    max-width: 100%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    border: 1px transparent;
    padding: 0 1rem;
    line-height: 1.6rem;
}

.room-header {
    padding-top: 1rem;
    border-right: hidden;
    border-left: hidden;
    padding-bottom: 0.2rem;
    line-height: 1.3;
}

.mii {
    height: 2rem;
    width: auto;
    margin-top: -0.2rem;
    margin-bottom: -0.3rem;
    margin-left: -0.3rem;
    margin-right: -0.3rem;
}

.mii-td {
    line-height: 1.3rem;
    padding: 0;
}

.mii-name {
    font-family: 'CTMKF', sans-serif;
}

.wide-char {
    font-family: 'CTMKF', sans-serif;
    font-size: 0.5rem;
    transform: scaleY(2);
    display: inline-block;
}

.data-header {
    background-color: #24252d69;
}

.conn-fail {
    padding: 0 0.1rem;
    font-size: 1rem;
}

.mii-header {
    padding: 0 0.4rem;
}

#loading {
    font-weight: bold;
    font-size: 2rem;
}

#top-container, #not-found-container {
    display: none;
    font-weight: bold;
    font-size: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
}

#not-found-container {
    width: 100%;
    color: red;
}

.top-stat {
    font-weight: normal;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#settings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#settings > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.4rem;
}

#history-container, #history-indicator {
    width: 100%;
}

#history-indicator {
    display: none;
    background-color: rgb(228, 228, 228);
}

#history-input {
    border: 1px solid rgb(139, 139, 139);
    border-radius: 0.2rem;
    padding: 0.1rem;
    font-size: 1rem;
}

button {
    font-size: 0.8rem;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    margin: 0.2rem;
    border-radius: 0.2rem;
}

.fordy-highlighted {
    background-color: rgb(255, 127, 36);
}
.germtr-highlighted {
    background-color: rgb(102, 205, 0);
}
.highlighted {
    background-color: rgb(255, 255, 132);
}

#home-link {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    text-align: center;
}

.room-link {
    color: white;
}

.guest-td {
    padding: 0.2rem;
    border-left: hidden;
}

.joinable {
    color: #a6e3a1;
}

.not-joinable {
    color: #f38ba8;
}

.split-room {
    color: brown;
}

.openhost {
    text-decoration: underline;
}

tbody > tr:first-child {
    background-color: #;
}

@media only screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    .scroll {
        max-width: 100%;
    }

    #top-container, #not-found-container {
        font-size: 0.8rem;
    }

    #settings {
        flex-direction: column;
        gap: 0;
    }

    table {
        font-size: 0.8rem;
    }

    th, td {
        padding: 0 0.4rem;
    }

    .mii {
        height: 1.5rem;
        margin: -0.2rem;
    }

    .conn-fail {
        font-size: 0.75rem;
    }

    #loading {
        font-size: 1.5rem;
    }

    .mii-td {
        line-height: 0.5rem;
    }

    .wide-char {
        font-size: 0.3rem;
    }
}