html {
    background-color: #24252d;
    min-height: 100vh;
}

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    padding: 0.5rem;
    /* center */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    min-height: 100vh;
    margin: auto;
    color: white;
}

hr {
    color: white;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

table {
    white-space: pre;
    font-size: 1.2rem;
    border-collapse: collapse;
    border: hidden;
}

th, td {
    text-align: center;
    border-bottom: 1px solid white;
    padding: 0 1rem;
    line-height: 1.8rem;
}

.room-header {
    padding-top: 1rem;
    border-right: hidden;
    border-left: hidden;
    padding-bottom: 0.2rem;
    line-height: 1.3;
}

.mii {
    height: 2rem;
    width: auto;
    margin-top: -0.2rem;
    margin-bottom: -0.3rem;
    margin-left: -0.3rem;
    margin-right: -0.3rem;
}

.mii-name {
    font-family: 'CTMKF', 'Rubik', sans-serif;
}

.mii-td {
    line-height: 1.3rem;
    padding: 0;
}

.wide-char {
    font-family: 'CTMKF', 'Rubik', sans-serif;
    font-size: 0.5rem;
    transform: scaleY(2);
    display: inline-block;
}

.data-header {
    background-color: #24252d;
}

.conn-fail {
    padding: 0 0.1rem;
    font-size: 1rem;
}

.mii-header {
    padding: 0 0.4rem;
}

#loading {
    font-weight: bold;
    font-size: 2rem;
}

#top-container, #not-found-container {
    display: none;
    font-weight: normal;
    font-size: 1.6rem;
    gap: 1rem;
    flex-wrap: wrap;
}

#not-found-container {
    width: 100%;
    color: red;
}

.top-stat {
    font-weight: bold;
	font-size: 2rem;
}

.excited {
    animation-name: excited;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

@keyframes excited {
    0% {
        color: #cba6f7;
    }

    17% {
        color: #f38ba8;
    }

    33% {
        color: #fab387;
    }

    50% {
        color: #f9e2af;
    }

    67% {
        color: #a6e3a1;
    }

    83% {
        color: #89b4fa;
    }

    100% {
        color: #cba6f7;
    }
}

.excited-bg {
    animation-name: excited-bg;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

@keyframes excited-bg {
    0% {
		font-weight: bold;
        background-color: #cba6f773;
    }

    17% {
		font-weight: bold;
        background-color: #f38ba873;
    }

    33% {
		font-weight: bold;
        background-color: #fab38773;
    }

    50% {
		font-weight: bold;
        background-color: #f9e2af73;
    }

    67% {
		font-weight: bold;
        background-color: #a6e3a173;
    }

    83% {
		font-weight: bold;
        background-color: #89b4fa73;
    }

    100% {
		font-weight: bold;
        background-color: #cba6f773;
    }
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#settings {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#settings > * {
    margin-bottom: 0.4rem;
}

#history-container, #history-indicator {
    width: 100%;
}

#history-indicator {
    display: none;
    background-color: #ff00000a;
}

#history-input {
    border: 1px solid rgb(139, 139, 139);
    border-radius: 0.2rem;
    padding: 0.1rem;
    font-size: 1rem;
}

h1 {
    font-size: 32px;
    text-decoration: none;
}

label {
    display: inline-block;
    margin-bottom: 0.5em;
}

input, button, room-link {
    margin: 0.2em;
    padding: 0.4em;
    font-family: inherit;
    font-size: 1em;
    background: #343646;
    color: white;
    border: none;
    border-radius: 0.3em;
}

.custom-highlighted {
    background-color: rgb(102 205 0 / 45%);
	font-weight: bold;
}
.highlighted {
    background-color: rgb(255, 127, 36 / 45%);
}
.original-highlighted {
    background-color: rgb(255, 255, 132);
}

#home-link {
    color: white;
}

.room-link {
    color: #a1bee3;
}

.guest-td {
    padding: 0.2rem;
    border-left: hidden;
}

.joinable {
    color: #a6e3a1;
}

.not-joinable {
    color: brown;
}

.split-room {
    color: #f38ba8;
}

.openhost {
    text-decoration: underline dotted #a1bee3;
}

tbody > tr:first-child {
    border-top: hidden;
}

@media only screen and (max-width: 800px) {
    body {
        width: 100%;								

    #top-container, #not-found-container {
        font-size: 0.8rem;
    }

    #settings {
        flex-direction: column;
        gap: 0;
    }

    table {
        font-size: 0.8rem;
    }

    th, td {
        padding: 0 0.4rem;
    }

    .mii {
        height: 1.5rem;
        margin: -0.2rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .conn-fail {
        font-size: 0.75rem;
    }

    #loading {
        font-size: 1.5rem;
    }

    .mii-td {
        line-height: 0.5rem;
    }

    .wide-char {
        font-size: 0.3rem;
    }
}